@import "_variables.sass"

footer
    background-color: #1e1e1e
    color: $grey-text
    width: 100%
    .row 
        padding-right: 0px !important
        padding-left: 0px !important
    h5
        text-align: center
    .newsletter
        width: 70%
        height: 75px
        align-items: center
        margin: auto
        display: flex
        justify-content: space-between
        input
            background-color: #303030
            boder: none !important
        button
            background-color: #303030
            border: none
            color: $grey-text
    .links
        width: 70%
        margin: auto
        li
            color: $grey-text
        .gridinsta
            display: grid
            gap: 5px
            grid-template-columns: 1fr 1fr 1fr 1fr
    .blackline
        background-color: black
        width: 100%
    .contentblackline
        display: flex
        justify-content: space-between
        width: 70%
        margin: auto
        background-color: black
        align-items: center
        img
            height:100%
            