@import "_variables.sass"

#navbarNavAltMarkup
    display: flexbox
    justify-content: space-around

nav
    background-color: $beige
    text-align: center
    border-bottom: 1px solid lightgrey
    .navbar-nav a
        text-transform: uppercase
        color: black !important