@import "_variables.sass"

#navbarNavAltMarkup
    display: flexbox
    justify-content: space-around

nav
    z-index: 10
    width: 100%
    background-color: $beige
    text-align: center
    border-bottom: 1px solid lightgrey
    .navbar-nav
        width: 60%
        justify-content: flex-end
    .navbar-nav a
        text-transform: uppercase
        color: black
        a:link
            color: black
        a:active
            text-decoration: underline
    .icons_header
        padding: 15px
        width: 30%
        display: flex
        justify-content: flex-end
        i
            margin-left: 15px
.navbar-links-white
    color: white !important