@import "_variables.sass"
body
    margin: 0
main
    .alltext
        text-align: center
        width: 20%
        margin: auto
        height: 200px
    .smalltext
        font-size: 0.8em
        font-weight: bold
    .theprinciple
        font-size: 1.2em
        font-weight: bold