@import "_variables.sass"

#section7
    margin: auto
    margin-bottom: 25vh
    text-align: center
    .container
        display: flex
        width: 100%
        margin: auto
        p
            margin-bottom: 0px
    .div-icon1
        position: absolute
        left: 30
        bottom: 30
        z-index: 1
    .div-icon2
        position: absolute
        right: 30
        bottom: 30
        z-index: 1
    .display-icon
        position: absolute
        z-index: 2

    