@import "_variables.sass"

#section3
    gap: 50px
    height: fit-content
    margin: auto
    img
        height: 100% !important

@media (max-width: 768px)
    #section3
        height: fit-content
    .gallery
        flex-direction: column
        img
            height: 70% !important