@import "_variables.sass"

#section11
    width: 100%
    .imageflower
        background-image: url('../img/collect/one-page-img-04.jpg')
        width: 40%
        height:500px
    .address
        background-color : $beige-gris
    .form
        background-image: url('../img/fashion/fashion-brand-parallax-bg.jpg')
        display: flex
        align-items: center
        flex-direction: column
    form
        display:flex
        flex-direction: column
        background-color: transparent
