@import "_variables.sass"

#section1
    background-image: url("../img/collect/one-page-slider-01.jpg")
    background-size : cover
    background-repeat : no-repeat
    height: 700px
    width: 100%
    background-position: center
    .strike
        text-decoration: line-through
    .prices
        font-weight: bold
    .text-slider
        position: absolute
        top: 35%
        left: 15%
        width: 20%
    .social
        display: grid
        grid-template-columns: 1fr
        position: absolute
        top: 35%
        text-align: center
        .follow-us
            transform: rotate(-90deg)
            margin-top:50px
    .carroussel-nav
        position: absolute
        display: flex
        flex-direction: column
        top: 35%
        right: 3%
        button:focus
            &::before
                content: "-"
            &::after
                content: "-"


    .womens
        color: white
        position: absolute
        font-size: 120px
        top: 85%
        left: 30%
        margin: auto
    

