@import "_variables.sass"

#section5
    background-color: $beige-gris
    height: fit-content
    .row
        padding-top: 5vh !important
        padding-bottom: 5vh !important
        width: 70%
        margin: auto
        display: flex
        align-items: center

@media (max-width: 768px)
    #section5
        padding-top: 20px
        text-align: center
        .row
            flex-direction: column !important
            .col
                width: 100% !important
        .smalltext
            padding-top: 20px
        button
            margin-bottom: 20px