@import "_variables.sass"

#section1
    background-image: url("../img/collect/one-page-slider-01.jpg")
    height: 700px
    width: 100%
    background-position: center
    .strike
        text-decoration: line-through
    .prices
        font-weight: bold
    .text-slider
        position: absolute
        top: 40%
        left: 15%
        width: 20%
    .social
        display: grid
        grid-template-columns: 1fr
        position: absolute
        top: 45%
        .follow-us
            transform: rotate(-90deg)
